<div class="card m-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-title">Status: {{status}}</h6>
    <p class="card-text">{{description}}</p>
    
    <div class="text-center">
      <a href="#" class="btn btn-success card-link">Edit</a>
      <button id="{{id}}" name="delete-btn" class="btn btn-danger card-link">Delete</button>
    </div>
    <div class="text-center my-2">
      <small>{{formatDate createdAt}}</small>
    </div>
  </div>
</div>